# Ignore in .amazon-project/
.amazon-project/env/
.amazon-project/.env/
.amazon-project/venv/
.amazon-project/__pycache__/
.amazon-project/*.pyc
.amazon-project/.vscode/
.amazon-project/.streamlit/
.amazon-project/*.log
.amazon-project/*.jpg
.amazon-project/*.jpeg
.amazon-project/*.png
.amazon-project/.DS_Store
.amazon-project/Thumbs.db
.amazon-project/pip-log.txt
.amazon-project/.ipynb_checkpoints/
.amazon-project/dataset/preprocessed_data/
.amazon-project/dataset/preprocessed_data_split/
.amazon-project/dataset/asl_12_letters/
.amazon-project/dataset/mnist_12_train.csv
.amazon-project/dataset/mnist_12_test.csv

# Ignore in Wave/
Wave/env/
Wave/.env/
Wave/venv/
Wave/__pycache__/
Wave/*.pyc
Wave/.vscode/
Wave/.streamlit/
Wave/*.log
Wave/*.jpg
Wave/*.jpeg
Wave/*.png
Wave/.DS_Store
Wave/Thumbs.db
Wave/pip-log.txt
Wave/.ipynb_checkpoints/
Wave/dataset/preprocessed_data/
Wave/dataset/preprocessed_data_split/
Wave/dataset/asl_12_letters/
Wave/dataset/mnist_12_train.csv
Wave/dataset/mnist_12_test.csv
